# =============================================================
# == Individual files
# =============================================================

desktop.ini
.DS_Store
workspace.xml
build-local.properties

# =============================================================
# == Wild cards
# =============================================================

*.iws
*.~*
*.class

hs_err_pid*

# =============================================================
# == Directories
# =============================================================

out/**
output/**
lib/**
